[submodule "apt"]
	path = apt
	url = https://github.com/Proteon/puppetlabs-apt.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/Proteon/puppetlabs-inifile.git
[submodule "java"]
	path = java
	url = https://github.com/Proteon/puppet-java
[submodule "maven"]
	path = maven
	url = https://github.com/Proteon/puppet-maven
[submodule "nginx"]
	path = nginx
	url = https://github.com/Proteon/puppet-nginx
[submodule "percona"]
	path = percona
	url = https://github.com/Proteon/puppet-percona
[submodule "play"]
	path = play
	url = https://github.com/Proteon/puppet-play
[submodule "postfix"]
	path = postfix
	url = https://github.com/Proteon/puppet-postfix
[submodule "profile_d"]
	path = profile_d
	url = https://github.com/Proteon/puppet-profile_d
[submodule "tomcat"]
	path = tomcat
	url = https://github.com/Proteon/puppet-tomcat
[submodule "puppetmaster"]
	path = puppetmaster
	url = https://github.com/fsalum/puppet-puppetmaster
[submodule "puppet"]
	path = puppet
	url = https://github.com/Proteon/puppet-puppet
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/Proteon/puppetlabs-stdlib.git
[submodule "concat"]
	path = concat
	url = https://github.com/Proteon/puppetlabs-concat.git
[submodule "liferay"]
	path = liferay
	url = https://github.com/Proteon/puppet-liferay
[submodule "phpfpm"]
	path = phpfpm
	url = https://github.com/Proteon/puppet-phpfpm.git
[submodule "apache"]
	path = apache
	url = https://github.com/Proteon/puppetlabs-apache.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/Proteon/puppetlabs-mysql.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/Proteon/puppet-unicorn.git
[submodule "corosync"]
	path = corosync
	url = https://github.com/Proteon/puppetlabs-corosync
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/Proteon/puppet-jenkins
[submodule "nexus"]
	path = nexus
	url = https://github.com/Proteon/puppet-nexus
